<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sujian.materaildesign">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presenter.SplashActivity"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.MainActivity"
            android:theme="@style/Home" />
        <activity android:name=".presenter.PictureActivity" />
        <activity android:name=".presenter.WebActivity" />
        <activity
            android:name=".presenter.MusicActivity"
            android:theme="@style/Music" />
        <activity android:name=".presenter.NewsActivity" />
        <activity android:name=".presenter.VideoActivity" />
        <activity android:name=".presenter.VideoPlayerActivity" />

        <service
            android:name=".player.PlayerService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".presenter.MusicListActivity" />
        <activity android:name=".presenter.NetworkSongListActivity"></activity>
    </application>

</manifest>